.categories, .data-interaction, .information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.panel-container {
  width: calc(50% - 1em);
}

.panel-container-small {
  width: calc((100% / 3) - 1em);
}
