li {
  list-style: none;
}

.categories, .data-interaction {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.panel-container {
  width: 50%;
}

.category-list {
  flex: 1;
  max-width: calc(50% - 2em);
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

h2.category-list-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: #00A374;
}

.category-details {
  background: white;
  flex: 1;
  margin-left: 2em;

  border-radius: 10px;

  overflow: hidden;
}

h2.category-details-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: #0985B0;
}
