li {
  list-style: none;
}

.categories {
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

h2.category-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  background: #00A374;
}

.category-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  background: white;
}

.category-item:not(.active):hover {
  color: #0985B0;
  font-weight: bolder;
}

.active{
  background: #0985B0;
  color: white;
}
