.category-item, .operator-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  background: white;

  user-select: none;
}

.category-item:not(.active):hover {
  color: #0985B0;
  font-weight: bolder;
}

.active{
  background: #0985B0;
  color: white;
}

.operator-item:not(.activeOperator):hover {
  color: #FF5F00;
  font-weight: bolder;
}

.activeOperator{
  background: #FF5F00;
  color: white;
}
