@import "../../../../shared/styles/theme";

.category-item, .operator-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  background: white;

  user-select: none;
}

.category-item:not(.active):hover {
  color: $rxcolor_core;
  font-weight: bolder;
}

.active{
  background: $rxcolor_core;
  color: white;
}

.operator-item:not(.activeOperator):hover {
  color: $rxcolor_accent;
  font-weight: bolder;
}

.activeOperator{
  background: $rxcolor_accent;
  color: white;
}
