@import "../../../../shared/styles/theme";

.category-list, .operator-list {
  border-radius: 10px;
  overflow: hidden;
  user-select: none;

  height: 100%;
  background: white;

  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

@mixin list-header() {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

h2.category-list-header {
 @include list-header();

  background: $rxcolor_main;
}

h2.operator-list-header {
  @include list-header();

  //background: #DA0076;
  background: $rxcolor_core;
}
