// Application wide styles are here.
@import "app/shared/styles/theme";
@import url('https://fonts.googleapis.com/css?family=Khand|Raleway');

* {
  box-sizing: border-box;
}

body {
  margin: 2em;
  background: $rxcolor_bg;
}

h1 {
  font-size: 250%;
  font-family: 'Khand', sans-serif;
  letter-spacing: 2px;
  color: white;
}

h2, h3 {
  font-size: 130%;
  letter-spacing: 2px;
  color: white;
  font-family: 'Khand', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Raleway', sans-serif;
}
