// Application wide styles are here.

@import url('https://fonts.googleapis.com/css?family=Khand|Raleway');

* {
  box-sizing: border-box;
}

body {
  margin: 2em;
  background: #49CEF6;
}

h1 {
  font-size: 250%;
  font-family: 'Khand', sans-serif;
  letter-spacing: 2px;
  color: white;
}

* {
  font-family: 'Raleway', sans-serif;
}
